[submodule "vim/start/gruvbox"]
	path = vim/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/start/ale"]
	path = vim/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/start/indentLine"]
	path = vim/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/start/rust.vim"]
	path = vim/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/start/supertab"]
	path = vim/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/start/vim-airline"]
	path = vim/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/start/vim-bufferline"]
	path = vim/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "vim/start/vim-cargo"]
	path = vim/start/vim-cargo
	url = https://github.com/timonv/vim-cargo.git
[submodule "vim/start/vim-flake8"]
	path = vim/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/start/vim-json"]
	path = vim/start/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/start/csv.vim"]
	path = vim/start/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/start/vim-pydocstring"]
	path = vim/start/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
[submodule "vim/start/vim-airline-themes"]
	path = vim/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/start/vim-signify"]
	path = vim/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/start/Fox.vim"]
	path = vim/start/Fox.vim
	url = https://github.com/Pougher/Fox.vim.git
[submodule "vim/start/vim-deus"]
	path = vim/start/vim-deus
	url = https://github.com/ajmwagar/vim-deus.git
[submodule "vim/start/quarto-vim"]
	path = vim/start/quarto-vim
	url = https://github.com/quarto-dev/quarto-vim.git
[submodule "vim/start/vim-pandoc-syntax"]
	path = vim/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
