[submodule "vim/start/gruvbox"]
	path = vim/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/start/ale"]
	path = vim/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/start/indentLine"]
	path = vim/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/start/rust.vim"]
	path = vim/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/start/supertab"]
	path = vim/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/start/vim-airline"]
	path = vim/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/start/vim-bufferline"]
	path = vim/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "vim/start/vim-cargo"]
	path = vim/start/vim-cargo
	url = https://github.com/timonv/vim-cargo.git
[submodule "vim/start/vim-flake8"]
	path = vim/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
